body {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue;
}

.clickable:hover {
    cursor: pointer;
}


h1,
h2,
p {
    text-align: center;
}

h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.leaflet-container {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

@media(min-width: 550px) {
    #media {
        width: 70%;
        margin: 0 auto;
    }
}

@media(max-width: 549px) {
    #media {
        width: 100%;
        margin: 0 auto;
    }
}

.container {
    margin: 0 auto;
    padding: 0 !important;
    margin-top: 3rem !important;
}