body {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue;
}


h1,
h2,
p {
    text-align: center;
}

.leaflet-container {
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

@media(min-width: 550px) {
    #media {
        width: 70%;
        margin: 0 auto;
    }
}

@media(max-width: 549px) {
    #media {
        width: 100%;
        margin: 0 auto;
    }
}

.container {
    margin-top: 3rem !important;
}